.div-input-register{
  border: 1px black solid;
  width: 40%;
  padding: 10px;
  
}
.input-register{
  /* width: 40%;
  padding: 10px; */
  border: 1px black solid;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.Selcets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
