.div-input-register{
  border: 1px black solid;
  width: 40%;
  padding: 10px;
  
}
.input-register{
  /* width: 40%;
  padding: 10px; */
  border: 1px black solid;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.Selcets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.frame {
  border-radius: 10px;

}

/**** Star Rating ****/

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
 
}
.on {
  color: #ffee02;
  
}
.off {
  color: #ccc;
}
.star{
  font-size: 30px;
}

